@font-face {
  font-family: "MyriadPro";
  src: url("fonts/MyriadPro-Regular.woff2") format("woff2"),
    url("fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
